<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Home - Livraria UmDois</title>
	    <script src="https://unpkg.com/vue@2"></script>
	    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	</head>

	<body>
		<div class="container" id="app">
			<header>
				<div class="div_cabecalho">
					<div class="div_logo"></div>

					<nav class="div_navbar">
						<ul class="lista_links_navbar">
							<a href=""><li class="links_navbar">Home</li></a>
							<a href=""><li id="on_link" class="links_navbar">Autores</li></a>
							<a href=""><li class="links_navbar">Fale Conosco</li></a>
						</ul>
					</nav>
				</div>

				<div class="line"></div>
			</header>
			
			<main class="content">

				<!-- =========================Autores============================= -->
				<div v-if="abas.autores" id="aba_autores">
					<div class="aba_title">
						<h1>Nossos Autores</h1>
					</div>

					<ul class="lista_autores" v-if="listaAutores.length">
						<li class="li_autores" v-for="(autor, index) in listaAutores" @click="mostrarLivros(index)">
							<div class="div_img_autores">
								<img :src="autor.src" class="img_autores">
							</div>

							<div class="div_desc_autores">
								<h2 class="autores_name">{{autor.nome}}</h2>
								<ul class="list_buttons_autores">
									<li class="buttons_autores" @click="editAutor(index)"><span class="material-symbols-outlined" id="edit_button">edit</span></li></a>
									<li class="buttons_autores" @click="deleteAutor(index)"><span class="material-symbols-outlined" id="delete_button">delete</span></li></a>
								</ul>
							</div>
						</li>
					</ul>

					<div class="list_button">
						<div class="button" id="button_cadastrar_autor" v-on:click="trocarAbas(3)" :class="{selected: abas.cadastrar_autor}">
							<span>Cadastrar Autor</span>
							<span class="material-symbols-outlined">add</span>
						</div>
					</div>
				</div>

				<!-- ===========================Cadastrar Autor========================= -->

				<div v-if="abas.cadastrar_autor" id="aba_cadastrar_autor">
					<div class="aba_title">
						<h1>Cadastrar Autor</h1>
					</div>

					<div class="div_form_cadastro_autor">
						<ul class="form_cadastro_autor">
							<li><input type="text" placeholder="Insira a url da imagem do autor" v-model="temp_autor.src" id="cadastro_img" ></li>
							<li><input type="text" placeholder="Insira o nome do autor" v-model="temp_autor.nome" id="cadastro_nome"></li>

							<ul class="list_button">
								<li><button @click="salvarAutor" class="button">Salvar</button></li>
								<li><button @click="trocarAbas(1)" class="button buttonVoltar">Voltar</button></li>
							</ul>
						</ul>
					</div>
				</div>

				<!-- ===========================Editar Autor============================= -->

				<div v-if="abas.editar_autor" id="aba_editar_autor">
					<div class="aba_title">
						<h1>Editar Autor</h1>
					</div>

					<div class="div_form_cadastro_autor">
						<ul class="form_cadastro_autor">
							<li><input type="text" v-model="temp_autor.src" id="cadastro_img"></li>
							<li><input type="text" v-model="temp_autor.nome" id="cadastro_nome"></li>

							<ul class="list_button">
								<li><button @click="salvarAutor" class="button">Salvar</button></li> 
								<li><button @click="trocarAbas(1)" class="button">Voltar</button></li>
							</ul>
						</ul>
					</div>
				</div>

				<!-- ================================Livros========================= -->

				<div v-if="abas.livros" id="aba_livros">
					<div class="aba_title">
						<h1>Livros {{temp_autor.nome}}</h1>
					</div>

					<ul class="lista_livros">
						<li class="li_livros" v-for="(livro, index) in listaLivros" v-if="livro.idAutor == temp_autor.id">
							<div class="div_img_livros">
								<img :src="livro.src" class="img_livros">
							</div>

							<div class="div_desc_livros">
								<h2 class="livros_title">{{livro.titulo}}</h2>
								<p class="livros_editora">Editora: {{livro.editora}}</p>
								<p class="livros_ano">Ano: {{livro.ano}}</p>
								<p class="livros_preco">Preço {{livro.preco}}</p>
								<ul class="list_buttons_autores">
									<li class="buttons_autores" @click="editLivro(index)"><span class="material-symbols-outlined" id="edit_button">edit</span></li></a>
									<li class="buttons_autores" @click="deleteLivro(index)"><span class="material-symbols-outlined" id="delete_button">delete</span></li></a>
								</ul>
							</div>
						</li>
					</ul>



					<ul class="list_button button_center">
						<li><button @click="trocarAbas(1)" class="button">Voltar</button></li>


						<li class="button" id="button_cadastrar_livro" v-on:click="trocarAbas(5)" :class="{selected: abas.cadastrar_livro}">
							<span>Cadastrar Livro</span>
							<span class="material-symbols-outlined">add</span>
						</li>
					</ul>
				</div>

				<!-- ===========================Editar Livros============================= -->

				<div v-if="abas.editar_livro" id="aba_editar_livro">
					<div class="aba_title">
						<h1>Editar Livro</h1>
					</div>

					<div class="div_form_cadastro_autor">
						<ul class="form_cadastro_autor">
							<li><input type="text" v-model="temp_livro.src" id="cadastro_img"></li>
							<li><input type="text" v-model="temp_livro.titulo" id="cadastro_nome"></li>
							<li><input type="text" v-model="temp_livro.editora" id="cadastro_editora"></li>
							<li><input type="text" v-model="temp_livro.preco" id="cadastro_preco"></li>
							<li><input type="text" v-model="temp_livro.ano" id="cadastro_ano"></li>

							<ul class="list_button">
								<li><button @click="salvarLivro" class="button">Salvar</button></li>
								<li><button @click="trocarAbas(2)" class="button">Voltar</button></li>
							</ul>
						</ul>
					</div>
				</div>

				<!-- ==========================Cadastrar Livros=========================== -->

				<div v-if="abas.cadastrar_livro" id="aba_cadastrar_livro">
					<div class="aba_title">
						<h1>Cadastrar Livro de {{temp_autor.nome}}</h1>
					</div>

					<div class="div_form_cadastro_autor">
						<ul class="form_cadastro_autor">
							<li><input type="text" id="cadastro_img" v-model="temp_livro.src" placeholder="Url da imagem do livro"></li>
							<li><input type="text" id="cadastro_nome" v-model="temp_livro.titulo" placeholder="Título"></li>
							<li><input type="text" id="cadastro_editora" v-model="temp_livro.editora" placeholder="Editora"></li>
							<li><input type="text" id="cadastro_preco" v-model="temp_livro.preco" placeholder="Preço"></li>
							<li><input type="text" id="cadastro_ano" v-model="temp_livro.ano" placeholder="Ano"></li>

							<ul class="list_button">
								<li><button @click="salvarLivro" class="button">Salvar</button></li>
								<li><button @click="trocarAbas(2)" class="button buttonVoltar">Voltar</button></li>
							</ul>
						</ul>
					</div>
				</div>


			</main>

			<!-- ===========================Footer========================== -->
			
			<footer class="div_footer">
				<div id="footer_info" class="section_footer">
					<h2>Informações</h2>

					<ul class="footer_lista_links">
						<a href=""><li class="footer_links">Quem Somos</li></a>
						<a href=""><li class="footer_links">Segurança</li></a>
						<a href=""><li class="footer_links">Política de Privacidade</li></a>
						<a href=""><li class="footer_links">Política de Troca</li></a>
					</ul>
				</div>
				
				<div id="footer_client" class="section_footer">
					<h2>Serviços ao Cliente</h2>

					<ul class="footer_lista_links">
						<a href=""><li class="footer_links">Fale Conosco</li></a>
						<a href=""><li class="footer_links">Link do Site</li></a>
						<a href=""><li class="footer_links">Nossas Lojas</li></a>
						<a href=""><li class="footer_links">Trabalhe Conosco</li></a>
					</ul>
				</div>
				
				<div id="footer_talk" class="section_footer">
					<h2>Fale Conosco</h2>

					<ul class="footer_lista_links">
						<a href=""><li class="footer_links">(31) 3132-3234</li></a>
						<a href=""><li class="footer_links">(31) 3134-5623</li></a>
						<a href=""><li class="footer_links">sac@livrariaumdois.com</li></a>
						<a href=""><li class="footer_links">Política de Troca</li></a>
					</ul>
				</div>

				<div id="footer_account" class="section_footer">
					<h2>Minha Conta</h2>

					<ul class="footer_lista_links">
						<a href=""><li class="footer_links">Minha Conta</li></a>
						<a href=""><li class="footer_links">Histórico de Pedidos</li></a>
						<a href=""><li class="footer_links">Lista de Desejos</li></a>
						<a href=""><li class="footer_links">Informativo</li></a>
					</ul>
				</div>
			</footer>
		</div>

		<!-- ======================================================================= -->
		
		<script type="text/javascript" src="script.js"></script>
	</body>
</html>
